<app-vehicle-form [formTitle]="'Formulario de Registro de Nuevos Vehículos'" (backButton)="goBack()"
    (newVehicleData)="createVehicle($event)"></app-vehicle-form>
<!-- success modal -->
<div *ngIf="success"
    class="min-w-screen h-screen animated fadeIn faster  fixed  left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none focus:outline-none bg-no-repeat bg-center bg-cover"
    id="modal-id">
    <div class="absolute bg-black opacity-80 inset-0 z-0"></div>
    <div class="w-full  max-w-lg p-5 relative mx-auto my-auto rounded-xl shadow-lg  bg-white ">
        <!--content-->
        <div class="">
            <!--body-->
            <div class="text-center p-5 flex-auto justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="w-16 h-16 flex items-center text-green-800 mx-auto" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                </svg>
                <h2 class="text-xl font-bold py-4 ">¡Vehículo Registrado con Éxito!</h2>
            </div>
            <!--footer-->
            <div class="p-3 text-center space-x-4 md:block">
                <button (click)="success=!success"
                    class="mb-2 md:mb-0 bg-indigo-800 border border-indigo-800 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-indigo-600">Continuar</button>
            </div>
        </div>
    </div>
</div>