<div class="container my-6 px-6 mx-auto md:px-20">
    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
            <h3 class="text-2xl font-medium leading-6 text-gray-900">Ford 2016</h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">Información detallada del vehículo.</p>
        </div>
        <div class="border-t border-gray-200">
            <dl>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Id:</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">1</dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Color:</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">Blanco.</dd>
                </div>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Fecha de ingreso:</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">2016-01-01</dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Estado:</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">Activo.</dd>
                </div>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Asignado:</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">Si.</dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Novedades:</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                        <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">
                            <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                                <div class="flex w-0 flex-1 items-center">
                                    <span class="ml-2 w-0 flex-1 truncate">Servicio de Mantenimiento de 10,000
                                        km.</span>
                                </div>
                                <div class="ml-4 flex-shrink-0">
                                    <p class="font-medium text-indigo-600 hover:text-indigo-500">2017-02-02</p>
                                </div>
                            </li>
                            <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                                <div class="flex w-0 flex-1 items-center">
                                    <span class="ml-2 w-0 flex-1 truncate">En reparación por accidente vial.</span>
                                </div>
                                <div class="ml-4 flex-shrink-0">
                                    <p class="font-medium text-indigo-600 hover:text-indigo-500">2017-01-01</p>
                                </div>
                            </li>
                        </ul>
                        <div class="text-right pt-4"><button
                                class="py-3 px-5 bg-indigo-700 text-white font-medium rounded-md transition duration-500 hover:bg-indigo-600">Agregar</button>
                        </div>
                    </dd>

                </div>
            </dl>
        </div>
    </div>
    <div class="md:flex md:flex-row md:justify-center">
        <div class="m-3 text-center">
            <button
                class="py-3 px-5 rounded-md font-semibold bg-indigo-700 text-white transition duration-500 hover:bg-indigo-600">Editar
                Vehiculo</button>

        </div>
        <div class="m-3 text-center">
            <button
                class="py-3 px-5 rounded-md font-semibold bg-red-700 text-white transition duration-500 hover:bg-red-600">Eliminar
                Vehiculo</button>

        </div>
    </div>

</div>