<div *ngIf="!vehicle" class="mx-auto flex justify-center m-8">
    <app-spinner></app-spinner>
</div>
<div *ngIf="vehicle" class="container my-6 px-6 mx-auto md:px-20">
    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6 flex justify-between">
            <div>
                <h3 class="text-2xl font-medium leading-6 text-gray-900">{{vehicle.make.name}} {{vehicle.model}}</h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">Información detallada del vehículo.</p>
            </div>
            <div>
                <button class="text-indigo-400 hover:text-indigo-700" [routerLink]="['/dashboard']"><svg
                        xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-x-square" viewBox="0 0 16 16">
                        <path
                            d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg></button>
            </div>

        </div>
        <div class="border-t border-gray-200">
            <dl>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Id:</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">

                        {{vehicle.id}}
                    </dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Color:</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{vehicle.color.name}}.</dd>
                </div>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Fecha de ingreso:</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{vehicle.admissionDate |
                        date:'shortDate'}}</dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Estado:</dt>
                    <dd class="flex items-center justify-between mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                        <div>
                            {{vehicle.isActive?'Activo':'Inactivo'}}.

                        </div>
                        <div *ngIf="isAdmin">

                            <app-toggle-btn [toggleState]="vehicle.isActive" [currentState]="'isActive'"
                                (stateChange)="updateState('isActive',$event)"></app-toggle-btn>
                        </div>

                    </dd>
                </div>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Asignado:</dt>
                    <dd class="flex items-center justify-between mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                        <div>
                            {{vehicle.isAssigned?'Si':'No'}}.

                        </div>
                        <div *ngIf="isAdmin">
                            <app-toggle-btn [toggleState]="vehicle.isAssigned" [currentState]="'isAssigned'"
                                (stateChange)="updateState('isAssigned',$event)"></app-toggle-btn>

                        </div>
                    </dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Novedades:</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                        <ul role="listbox" tabindex="-1"
                            class="divide-y divide-gray-200 rounded-md border border-gray-200 max-h-80 overflow-auto z-10">
                            <li *ngFor="let novelty of currentNovelties"
                                class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                                <div class="flex w-0 flex-1 items-center">
                                    <span class="ml-2 w-0 flex-1 truncate">{{novelty.description}} </span>
                                </div>
                                <div class="ml-4 flex-shrink-0">
                                    <p class="font-medium text-indigo-600">{{novelty.createdDate | date:'short'}}
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <div *ngIf="isAdmin">

                            <form *ngIf="noveltiesCategories" [formGroup]="newNovelty"
                                class="flex flex-col gap-3 pt-4 md:flex-row md:items-center" (ngSubmit)="onSubmit()">
                                <select formControlName="noveltiesCategoryId" id="category" autocomplete="off"
                                    (change)="filterNovelties($event)"
                                    class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                                    <option value="0">Categoría</option>
                                    <option *ngFor="let category of noveltiesCategories" [ngValue]="category.id">
                                        {{category.name}}</option>
                                </select>
                                <input formControlName="description" type="text" id="description" autocomplete="off"
                                    placeholder="Breve descripción aquí..."
                                    class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">

                                <button [disabled]="!newNovelty.valid || !newNovelty.value.noveltiesCategoryId"
                                    class="py-3 px-5 bg-indigo-700 text-white font-medium rounded-md transition duration-500 hover:bg-indigo-600 disabled:bg-gray-500">Agregar</button>
                            </form>
                        </div>

                    </dd>

                </div>
            </dl>
        </div>
    </div>
    <div class="md:flex md:flex-row md:justify-center" *ngIf="isAdmin">
        <div class="m-3 text-center">
            <button [routerLink]="['/dashboard/vehicle-update', vehicle.id]"
                class="py-3 px-5 rounded-md font-semibold bg-indigo-700 text-white transition duration-500 hover:bg-indigo-600">Editar
                Vehiculo</button>

        </div>
        <div class="m-3 text-center">
            <button (click)="delete=!delete"
                class="py-3 px-5 rounded-md font-semibold bg-red-700 text-white transition duration-500 hover:bg-red-600">Eliminar
                Vehiculo</button>

        </div>
    </div>

</div>

<!-- modal -->
<div *ngIf="delete"
    class="min-w-screen h-screen animated fadeIn faster  fixed  left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none focus:outline-none bg-no-repeat bg-center bg-cover"
    id="modal-id">
    <div class="absolute bg-black opacity-80 inset-0 z-0"></div>
    <div class="w-full  max-w-lg p-5 relative mx-auto my-auto rounded-xl shadow-lg  bg-white ">
        <!--content-->
        <div class="">
            <!--body-->
            <div class="text-center p-5 flex-auto justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 -m-1 flex items-center text-red-800 mx-auto"
                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-16 h-16 flex items-center text-red-800 mx-auto"
                    viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                        clip-rule="evenodd" />
                </svg>
                <h2 class="text-xl font-bold py-4 ">¿Está usted seguro?</h2>
                <p class="text-sm text-gray-500 px-8">Para eliminar el vehículo actual haga click en el botón
                    <b>Eliminar</b>. Recuerde que esta acción es irreversible.
                </p>
            </div>
            <!--footer-->
            <div class="p-3  mt-2 text-center space-x-4 md:block">
                <button (click)="delete=!delete"
                    class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-full hover:shadow-lg hover:bg-gray-100">
                    Cancelar
                </button>
                <button (click)="onDelete(vehicle.id.toString())"
                    class="mb-2 md:mb-0 bg-red-800 border border-red-800 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-red-600">Eliminar</button>
            </div>
        </div>
    </div>
</div>