<div *ngIf="!vehicle" class="mx-auto flex justify-center m-8">
    <app-spinner></app-spinner>
</div>
<div *ngIf="vehicle" class="container my-6 px-6 mx-auto md:px-20">
    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
            <h3 class="text-2xl font-medium leading-6 text-gray-900">{{vehicle.make.name}} {{vehicle.model}}</h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">Información detallada del vehículo.</p>
        </div>
        <div class="border-t border-gray-200">
            <dl>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Id:</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{vehicle.id}}</dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Color:</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{vehicle.color.name}}.</dd>
                </div>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Fecha de ingreso:</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{vehicle.admissionDate}}</dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Estado:</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                        {{vehicle.isActive?'Activo':'Inactivo'}}.</dd>
                </div>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Asignado:</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{vehicle.isAssigned?'Si':'No'}}.</dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Novedades:</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                        <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">
                            <li *ngFor="let novelty of vehicle.novelties"
                                class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                                <div class="flex w-0 flex-1 items-center">
                                    <span class="ml-2 w-0 flex-1 truncate">{{novelty.description}} </span>
                                </div>
                                <div class="ml-4 flex-shrink-0">
                                    <p class="font-medium text-indigo-600 hover:text-indigo-500">{{novelty.createdDate}}
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <form [formGroup]="newNovelty" class="flex flex-col gap-3 pt-4 md:flex-row md:items-center">
                            <select formControlName="noveltiesCategoryId" id="category" autocomplete="off"
                                class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                                <option value="" disabled>Categoría</option>
                                <option *ngFor="let category of noveltiesCategories" [ngValue]="category.id">
                                    {{category.name}}</option>
                            </select>
                            <input formControlName="description" type="text" id="description" autocomplete="off"
                                placeholder="Breve descripción aquí..."
                                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">

                            <button
                                class="py-3 px-5 bg-indigo-700 text-white font-medium rounded-md transition duration-500 hover:bg-indigo-600">Agregar</button>
                        </form>
                        <p>{{newNovelty.value | json}} </p>
                    </dd>

                </div>
            </dl>
        </div>
    </div>
    <div class="md:flex md:flex-row md:justify-center">
        <div class="m-3 text-center">
            <button
                class="py-3 px-5 rounded-md font-semibold bg-indigo-700 text-white transition duration-500 hover:bg-indigo-600">Editar
                Vehiculo</button>

        </div>
        <div class="m-3 text-center">
            <button
                class="py-3 px-5 rounded-md font-semibold bg-red-700 text-white transition duration-500 hover:bg-red-600">Eliminar
                Vehiculo</button>

        </div>
    </div>

</div>