<div class="container mx-auto px-6 md:px-20 my-6">
    <div class="mb-4 flex items-center justify-between">
        <h1 class="mb-8 text-4xl text-left">Vehiculos</h1>
        <button [routerLink]="['/dashboard/vehicle-creation']" *ngIf="isAdmin"
            class="flex items-center p-1 sm:pl-3 rounded-lg mb-8 bg-indigo-700 text-white hover:bg-indigo-800">
            <span class="hidden sm:block text-xl mb-0 uppercase pr-1">Crear</span>

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-8 h-8"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
            </svg>
        </button>

    </div>
    <div class="md:flex md:gap-3">
        <div class="mb-4 md:w-5/6">
            <input type="text" [(ngModel)]="searchTerm" id="search-input" (keyup.enter)="search(searchTerm)"
                placeholder="Ingrese color, marca o modelo"
                class="w-full rounded-lg border-[1.5px] border-form-stroke py-3 px-5 font-medium text-body-color placeholder-body-color outline-none transition focus:border-indigo-700 active:border-indigo-700 disabled:cursor-default disabled:bg-[#F5F7FD]" />

        </div>
        <div class="mb-4 md:w-1/6">

            <button type="button" (click)="search(searchTerm)"
                class="w-full inline-flex items-center justify-center rounded-md border border-indigo-700 py-3 px-10 text-center text-base text-indigo-700 transition hover:border-indigo-700 hover:bg-indigo-700 hover:text-white lg:px-8 xl:px-10 disabled:bg-slate-400 disabled:border-slate-300 disabled:text-slate-100">Buscar</button>
        </div>
    </div>

    <!-- Botones de filtrado por atributo -->

    <div>
        <div class="flex flex-col gap-1 md:flex md:flex-row md:gap-3 md:justify-center md:items-center">
            <app-filter-select [options]="colors" [listName]="'Color'"
                (selected)="filter('color', $event)"></app-filter-select>
            <app-filter-select [options]="makes" [listName]="'Marca'"
                (selected)="filter('make', $event)"></app-filter-select>
            <app-filter-select [options]="models" [listName]="'Modelo'"
                (selected)="filter('model', $event)"></app-filter-select>
            <app-novelties-categories-select [options]="noveltiesCategories"
                (selected)="filter('noveltiesCategory', $event)"></app-novelties-categories-select>
            <div class="relative mt-1">
                <button (click)="reset()"
                    class="relative w-full text-indigo-500 rounded-md border border-indigo-400 bg-white py-2 p-3 text-center shadow-sm hover:border-indigo-500 hover:outline-none hover:ring-1 hover:ring-indigo-500 hover:font-medium sm:text-sm">Borrar
                    filtros</button>
            </div>

        </div>
    </div>




    <!-- Tabla de vehiculos -->

    <div class="overflow-x-auto">


        <div class="align-middle inline-block min-w-full overflow-hidden bg-white">

            <!-- filtros de estado -->

            <div class="p-4 mb-4">
                <ul class="grid grid-flow-col text-center border-b border-gray-200 text-gray-500">
                    <li> <button (click)="tabReset()"
                            [ngClass]="{'border-indigo-600': !searchParams.has('isActive') && !searchParams.has('isAssigned')}"
                            class="w-full text-center border-b-4 border-transparent hover:text-indigo-600 hover:border-indigo-600 pb-4 sm:pt-4 px-6">Todos</button>
                    </li>
                    <li> <button (click)="filter('isActive','true')"
                            [ngClass]="{'border-indigo-600': searchParams.get('isActive')==='true'}"
                            class="w-full text-center border-b-4 border-transparent hover:text-indigo-600 hover:border-indigo-600 pb-4 sm:pt-4 px-6">Activos</button>
                    </li>
                    <li> <button (click)="filter('isActive','false')"
                            [ngClass]="{'border-indigo-600': searchParams.get('isActive')==='false'}"
                            class="w-full text-center border-b-4 border-transparent hover:text-indigo-600 hover:border-indigo-600 pb-4 sm:pt-4 px-6">Inactivos</button>
                    </li>
                    <li> <button (click)="filter('isAssigned','true')"
                            [ngClass]="{'border-indigo-600': searchParams.get('isAssigned')==='true'}"
                            class="w-full text-center border-b-4 border-transparent hover:text-indigo-600 hover:border-indigo-600 pb-4 sm:pt-4 px-6">Asignados</button>
                    </li>
                    <li> <button (click)="filter('isAssigned','false')"
                            [ngClass]="{'border-indigo-600': searchParams.get('isAssigned')==='false'}"
                            class="w-full text-center border-b-4 border-transparent hover:text-indigo-600 hover:border-indigo-600 pb-4 sm:pt-4 px-6">Sin
                            Asignar</button>
                    </li>
                </ul>
            </div>

            <div class="flex justify-center">
                <div *ngIf="!currentVehicles" class="mx-auto mb-4 py-8">
                    <app-spinner></app-spinner>
                </div>

                <div class="text-center mb-4 text-xl py-8" *ngIf="currentVehicles && currentVehicles.length===0">No se
                    encontraron
                    vehículos o
                    coincidencias
                    para mostrar.
                </div>
            </div>


            <table class="min-w-full" *ngIf="currentVehicles && currentVehicles.length>0">
                <thead>
                    <tr>
                        <th
                            class="px-5 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">
                            <app-sort-button [title]="'Marca'"
                                [toggle]="this.searchParams.get('order') === 'make'?true:null"
                                (event)="orderBy('make', $event)"></app-sort-button>
                        </th>
                        <th
                            class="px-5 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">
                            <app-sort-button [title]="'Modelo'"
                                [toggle]="this.searchParams.get('order') === 'model'?true:null"
                                (event)="orderBy('model', $event)"></app-sort-button>
                        </th>
                        <th
                            class="px-5 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">
                            <app-sort-button [title]="'Color'"
                                [toggle]="this.searchParams.get('order') === 'color'?true:null"
                                (event)="orderBy('color', $event)"></app-sort-button>
                        </th>
                        <th
                            class="px-5 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">
                            Status</th>
                        <th class="px-5 py-3 border-b-2 border-gray-300"></th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <tr *ngFor="let vehicle of currentVehicles">
                        <td class="px-5 py-4 border-b border-gray-500">
                            <div class="flex items-center">
                                <div>
                                    <div class="text-sm leading-5 text-gray-800">{{vehicle.make.name}}</div>
                                </div>
                            </div>
                        </td>
                        <td class="px-5 py-4 border-b border-gray-500">
                            <div class="text-sm leading-5 text-blue-900">{{vehicle.model}}</div>
                        </td>
                        <td
                            class="px-5 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                            <div class="flex gap-1 items-center">

                                <span class="text-gray-500"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                        height="16" fill="currentColor" class="bi bi-square-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z" />
                                    </svg></span>{{vehicle.color.name}}
                            </div>
                        </td>
                        <td
                            class="px-5 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                            <div class="flex gap-1 items-center">

                                <span
                                    [ngClass]="{'text-green-600': vehicle.isActive, 'text-gray-500': !vehicle.isActive}"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg></span>
                                <span
                                    [ngClass]="{'text-green-600': vehicle.isAssigned, 'text-gray-500': !vehicle.isAssigned}"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg></span>
                            </div>
                        </td>
                        <td class="px-5 py-4 whitespace-no-wrap text-right border-b border-gray-500 text-sm leading-5">
                            <button [routerLink]="['./vehicle-details', vehicle.id]"
                                class="px-5 py-2 border-blue-500 border text-blue-500 rounded transition duration-300 hover:bg-blue-700 hover:text-white focus:outline-none">Detalles</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>

    <!-- Listado de Vehiculos -->
    <!-- <div class="flex flex-col gap-3">
        <div *ngIf="!currentVehicles" class="mx-auto mb-4">
            <app-spinner></app-spinner>
        </div>

        <div class="text-center mb-4 text-xl" *ngIf="currentVehicles && currentVehicles.length===0">No se encontraron
            vehículos o
            coincidencias
            para mostrar.
        </div>
        <div *ngFor="let vehicle of currentVehicles"
            class="border p-4 flex flex-col gap-1 justify-center items-center md:flex-row md:justify-around text-xl md:text-base">
            <div class="text-2xl font-semibold md:text-lg md:basis-2/6">{{vehicle.make.name}} {{vehicle.model}}</div>
            <div class="md:basis-1/6">Color: {{vehicle.color.name}}</div>
            <div class="md:basis-1/6">Estado: <span *ngIf="vehicle.isActive">Activo</span><span
                    *ngIf="!vehicle.isActive">Inactivo</span>
            </div>
            <div class="md:basis-1/6">Asignado: {{vehicle.isAssigned?'Si':'No'}}</div>
            <div class="md:basis-1/6 md:text-right p-3"><a [routerLink]="['./vehicle-details', vehicle.id]"
                    class="py-3 px-5 bg-indigo-700 text-white font-medium rounded-md transition hover:bg-indigo-600">Detalles</a>
            </div>
        </div>

    </div> -->

    <!-- Botones de navegación -->
    <div *ngIf="currentVehicles && currentVehicles.length > 0">

        <div class="m-4 text-center">
            <p>Mostrando página {{currentPage}} de {{totalPages}}</p>
        </div>
        <div class="m-4 flex flex-row justify-center mx-auto">
            <button type="button" (click)="prevPage()" [disabled]="currentPage===1"
                class="bg-indigo-800 text-white rounded-l-md border-r border-gray-100 py-2 hover:bg-indigo-600 hover:text-white px-3 disabled:bg-slate-500">
                <div class="flex flex-row align-middle">
                    <svg class="w-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <p class="ml-2">Anterior</p>
                </div>
            </button>
            <button type="button" (click)="nextPage()" [disabled]="currentPage===totalPages"
                class="bg-indigo-800 text-white rounded-r-md py-2 border-l border-gray-200 hover:bg-indigo-600 hover:text-white px-3 disabled:bg-slate-500">
                <div class="flex flex-row align-middle">
                    <span class="mr-2">Siguiente</span>
                    <svg class="w-5 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div>
            </button>
        </div>
    </div>
</div>